knpu_oauth2_client:
    clients:
        # On appelle ce client "azure" (à utiliser dans MicrosoftAuthController)
        azure:
            type: generic
            provider_class: TheNetworg\OAuth2\Client\Provider\Azure

            # Vos identifiants (.env)
            client_id: '%env(OAUTH_AZURE_CLIENT_ID)%'
            client_secret: '%env(OAUTH_AZURE_CLIENT_SECRET)%'

            # Route de retour
            redirect_route: connect_microsoft_check
            redirect_params: {}

            # Options spécifiques à la librairie Azure
            provider_options:
                # 'common' pour tous les comptes Microsoft (perso + pro)
                tenant: 'common'

                # Force l'utilisation de l'API v2.0 (recommandé)
                defaultEndPointVersion: '2.0'

                # IMPORTANT : Les scopes doivent être une LISTE (tableau)
                scopes:
                    - openid
                    - profile
                    - email
                    - offline_access
                    - https://graph.microsoft.com/Calendars.ReadWrite
